
<mat-selection-list>

  <a mat-list-item *ngFor="let produto of listaProdutos">
    <span (click)="selecionar(produto)">{{produto.nome}}</span>
    <span style="cursor: pointer" (click)="remover(produto.id)"><mat-icon>delete</mat-icon></span>
    
  </a>

</mat-selection-list>


<p>Cadastrar</p>


<mat-form-field>
  <mat-label>Nome</mat-label>
  <input matInput type="text" [(ngModel)]="produto.nome">
</mat-form-field>
<br>

<mat-form-field>
  <mat-label>Código</mat-label>
  <input matInput type="text" [(ngModel)]="produto.codigo">
</mat-form-field>
<br>

<mat-form-field>
  <mat-label>Tipo</mat-label>
  <input matInput type="text" [(ngModel)]="produto.tipo">
</mat-form-field>


<br>
<button mat-fab (click)="salvar()">Salvar</button>
<button mat-fab (click)="cancelar()">Cancelar</button>
<button mat-fab (click)="listar()">Listar</button>




